/**********************Váriaveis**********************/
:root {
    --fonte-padrao:'Fredoka One', cursive;
    --cor-padrao:#F05151;
    --cor-paragrafo:#666;
}

/**********************Index**********************/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #F5F5F5;
    padding: 20px 0;
    position: relative;
}

.banner {
    cursor: pointer;
    width: 100%;
}

.logo_chiquinho {
    width: 180px;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 5px;
}

.corPadraoTexto {
    text-align: center;
    color: var(--cor-paragrafo);
    font-size: 16px;
    line-height: 1.75;
}

.navegacao {
    background-color: #272727;
    padding: 5px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao a {
    text-decoration: none;
    color: var(--cor-padrao);
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
    display: inline-block;
    padding: 15px 10px;
    /* espaçamento consistente */
}

.navegacao a:hover {
    color: #ffffff;
}

.h2Dest {
    color: var(--cor-paragrafo);
    font-size: 24px;
}

/**********************Produtos**********************/
.pProduto {
    color: var(--cor-paragrafo);
    font-size: 15px;
    text-align: center;
}
.h2Prod{
    padding: 30px;
    text-align: center;
    font-family: var(--fonte-padrao);
    color: var(--cor-padrao);
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 16px;
    border: 1px solid #e6e6e6;
}

.product-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}


.preco {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--cor-padrao);
}

.add-button {
    background-color: #e6d9f8;
    border: 1px solid #f1abab;
    color: var(--cor-padrao);
    padding: 10px 50px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    color: #e90000;
    border: 1px solid #e90000;
}
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
}

.product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: left;
    border: 1px solid #e6e6e6;
}

/**********************Icons**********************/
.icon-group {
    display: flex;
    gap: 20px; /* Espaçamento entre os ícones do grupo */
    margin-left: 30px;
}

.icon-group a {
    margin: 0;
    padding: 0;
}

.icon-group a i {
    font-size: 20px;
    color: var(--cor-padrao);
}

.icon-group a:hover i {
    color: #ffffff;
    /* Efeito hover ícones */
}

/**********************Sections Gato,Cachorro**********************/

#padraoSec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#padraoSec figure {
    margin: 10px;
    text-align: center;
}

#padraoSec img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

.h2Sec {
    font-family: var(--fonte-padrao);
    color: var(--cor-padrao);
    font-size: 24px;
    margin-left: 15%;
}

#cor-destaques{
    color: var(--cor-padrao);
}

/**********************Fale Conosco**********************/

#EnvFormulario {
    display: flex;
    background-color: #F05151;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

#EnvFormulario:hover {
    background-color: #833939;
}

.form {
    width: 50%;
    margin: 0 auto;
}

.form label {
    display: block;
    margin-bottom: 10px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}
.banner-contato {
    display: block; 
    margin: 0 auto; 
    width: 75%; 
    padding: 50px; 
    border-radius: 77px;
}

/**********************Footer**********************/

.footer {
    background-color: #272727;
    padding: 20px 0;
    margin-top: 40px;
    /*margem superior*/
    text-align: center;
    color: #FFFFFF;
}


.footer-copy {
    margin-top: 15px;
    font-size: 14px;
    color: #B3B3B3;
}

/**********************Sobre Nós**********************/
#sobre-nos-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
}

#sobre-nos-container h1,
#sobre-nos-container h2 {
    color: #333;
    text-align: center;
}

#sobre-nos-container p {
    text-align: justify;
    color: var(--cor-paragrafo);
    font-size: 16px;
    line-height: 1.75;
}

#sobre-nos-valores {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#sobre-nos-valores li {
    background-color: #F05151;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}